body{
    background-image: url(imagens/fundo02.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    margin: 0;

}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 20px;  
}

a:hover{
    color: rgb(255, 255, 0);
    text-decoration: underline;
}

.links{
    background-color: rgb(13, 158, 13);
    height: 65px;
}

#capa{
    width: 300px;
}

h1{
    padding-top: 40px;
}
.letra{
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 35px;
    margin: auto;
    width: 600px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    
    

}